body {
  font-family: sans-serif;
  padding: 20px;
  max-width: 500px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer; 
}

input {
  padding: 5px;
}




li {
  margin: 8px 0;
}